html {
    background: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background: cyan;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
    padding: 1em;
    border-radius: 2em;
    margin: 1em;
}